@page "/customer/list"
@using BlazorServerAppBasicCrudSample.Services
@using BlazorServerAppBasicCrudSample.Entities

@if (_customers == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="card border-dark mb-3">
        <div class="card-header">
            Customer List
            <NavLink class="nav-link float-right" href="/customer/create">
                <button class="btn btn-primary">Create</button>
            </NavLink>
        </div>
        <div class="card-body text-dark">

            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Full Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">E Mail</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in _customers)
                    {
                        <tr>
                            <td>@item.Name @item.SurName</td>
                            <td>@item.Phone</td>
                            <td>@item.EMail</td>
                            <td>
                                <div class="btn btn-warning">
                                    <a href="/customer/update/@item.Id">Update</a>
                                </div>
                                <button type="button" class="btn btn-danger" @onclick="(() => DeleteCustomer(item.Id))">Delete</button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
}

@code {

    #region injects

    [Inject]
    private ICustomerService CustomerService { get; set; }

    #endregion

    #region fields

    private IEnumerable<Customer> _customers;

    #endregion

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetAllCustomer();
            StateHasChanged();
        }
    }

    private async Task GetAllCustomer() => _customers = await CustomerService.GetAllCustomer();

    private async Task DeleteCustomer(Guid id)
    {
        var customer = await CustomerService.GetByIdCustomer(id);
        await CustomerService.DeleteCustomer(customer);
        await GetAllCustomer();
        StateHasChanged();
    }



}